.advantages__wrapper {
  padding-top: 120px;
  padding-bottom: 60px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include vp-1023 {
    gap: 36px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 28px;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding: 39px 45px 68px 41px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-1023 {
    padding: 40px 30px 35px 40px;
  }

  @include vp-767 {
    padding: 30px 30px 35px 25px;
  }

  &--watch {
    padding-left: 40px;

    @include vp-1023 {
      margin-left: -4px;
      margin-top: -1px;
      padding-left: 40px;
      padding-top: 41px;
    }

    @include vp-767 {
      margin-left: 0;
      padding-bottom: 75px;
    }
  }

  &--hired {
    padding-top: 40px;
    margin-left: 1px;

    @include vp-1023 {
      padding-left: 41px;
      padding-bottom: 30px;
      margin-left: -8px;
    }

    @include vp-767 {
      padding-bottom: 56px;
      margin-left: 0;
    }
  }

  &--detective {
    padding-left: 40px;
    padding-bottom: 111px;

    @include vp-1023 {
      padding-bottom: 130px;
      margin-left: -4px;
      margin-top: -7px;
    }

    @include vp-767 {
      margin: 0;
      padding-bottom: 120px;
    }
  }

  &--tag {
    margin-left: 2px;
    padding-left: 40px;
    padding-bottom: 89px;

    @include vp-1023 {
      padding-bottom: 35px;
      margin-left: -7px;
      margin-top: -7px;
    }

    @include vp-767 {
      margin: 0;
      padding-bottom: 62px;
    }
  }
}

.advantages__item svg {
  display: block;
  fill: $color-deep-sky-blue;
  margin-bottom: 21px;

  @include vp-1023 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 17px;
    width: 30px;
    height: 30px;
  }
}

.advantages__item--detective svg {
  margin-left: -5px;
  margin-bottom: 20px;

  @include vp-1023 {
    margin-left: 0;
    margin-bottom: 13px;
  }

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.advantages__item--tag svg {
  margin-bottom: 20px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.advantages__item h3 {
  font-family: $ff-roboto-condensed;
  color: $color-deep-sky-blue;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.advantages__item--detective h3 {
  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.advantages__item--tag h3 {
  @include vp-1023 {
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages__item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-black-pearl;
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
}

.advantages__item:hover svg {
  fill: $color-alice-blue;
}

.advantages__item:hover h3 {
  color: $color-alice-blue;
}

.advantages__item:hover p {
  color: $color-alice-blue;
}
