.btn {
  display: inline-flex;
  padding: 15px 26px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  background-color: $color-neon-blue;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: opacity $trans-default;
  font-weight: 700;
  box-sizing: border-box;
  user-select: none;

  &--red {
    background-color: $color-torch-red;
  }

  &--transparent {
    background-color: transparent;
    color: $color-deep-sky-blue;
    line-height: 16px;
    font-size: 14px;
    border: 1px solid $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
    background-color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;
  }

  &:active {
    background-color: transparent;
    border-color: $color-deep-sky-blue;
    color: $color-deep-sky-blue;
  }
}
