.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__wrapper {
  padding-top: 66px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 56px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 86px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 7%;

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;
  }
}

.catalog h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 53px;

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    display: none;
  }
}

.catalog__title-short h2 {
  display: none;

  @include vp-767 {
    display: block;
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 30px;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: $color-silver;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-image-background;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include vp-1023 {
    background-position: top center;
  }

  &--manufacture {
    --bgi: url("../img/service-image-first.jpg");
    background-image: $gradient-catalog, var(--bgi);

    @media (min-width: $vp-1024) {
      @include retina {
        --bgi: url("../img/service-image-first@2x.jpg");
      }
    }

    @include vp-1023 {
      --bgi: url("../img/service-image-first-tablet.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-first-tablet@2x.jpg");
      }
    }

    @media (max-width: $vp-375) {
      --bgi: url("../img/service-image-first-mobile.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-first-mobile@2x.jpg");
      }
    }
  }

  &--installation {
    --bgi: url("../img/service-image-second.jpg");
    background-image: $gradient-catalog, var(--bgi);

    @media (min-width: $vp-1024) {
      @include retina {
        --bgi: url("../img/service-image-second@2x.jpg");
      }
    }

    @include vp-1023 {
      --bgi: url("../img/service-image-second-tablet.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-second-tablet@2x.jpg");
      }
    }

    @media (max-width: $vp-375) {
      --bgi: url("../img/service-image-second-mobile.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-second-mobile@2x.jpg");
      }
    }
  }

  &--accessories {
    --bgi: url("../img/service-image-third.jpg");
    background-image: $gradient-catalog, var(--bgi);

    @media (min-width: $vp-1024) {
      @include retina {
        --bgi: url("../img/service-image-third@2x.jpg");
      }
    }

    @include vp-1023 {
      --bgi: url("../img/service-image-third-tablet.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-third-tablet@2x.jpg");
      }
    }

    @media (max-width: $vp-375) {
      --bgi: url("../img/service-image-third-mobile.jpg");
      background-image: $gradient-catalog, var(--bgi);

      @include retina {
        --bgi: url("../img/service-image-third-mobile@2x.jpg");
      }
    }
  }
}

.catalog__item a {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 650px;
  border: 1px solid transparent;
  padding: 46px 80px 50px 40px;

  @include vp-1023 {
    min-height: 250px;
    padding: 36px 45px;
  }

  @include vp-767 {
    min-height: 250px;
    padding: 24px 29px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    bottom: 0;
    right: 0;
    border-radius: 3px 0 0 0;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    border: 1px solid $color-deep-sky-blue;
    opacity: 0.8;
  }

  &:focus {
    border: 1px solid $color-deep-sky-blue;
    outline: none;
    opacity: 0.8;
  }

  &:active {
    border: 1px solid $color-deep-sky-blue;

    &::before {
      outline: 1px solid $color-deep-sky-blue;
      background-color: transparent;
    }
  }
}

.catalog__item h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: $color-default-white;
  max-width: 160px;

  @include vp-1023 {
    max-width: 150px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 135px;
  }
}
