.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__wrapper {
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 86px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
}

.catalog h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 50px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 40px;
  }
}

.catalog__item {
  position: relative;
  background-color: $color-image-background;
  background-size: cover;
  cursor: pointer;

  &--manufacture {
    background: $gradient-catalog, url("../img/service-image-first.jpg") no-repeat;
  }

  &--installation {
    background: $gradient-catalog, url("../img/service-image-second.jpg") no-repeat;
  }

  &--accessories {
    background:$gradient-catalog, url("../img/service-image-third.jpg") no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    bottom: 0;
    right: 0;
    border-radius: 3px 0px 0px 0px;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catalog__item a {
  width: 100%;
  display: block;
  min-height: 650px;
  padding: 50px 80px 50px 40px;
}

.catalog__item h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: $color-default-white;

  @include vp-767 {
    font-size: 18px;
  }
}
