.navigation__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  margin-top: -3px;
  gap: 20px 119px;
  grid-template-columns: auto auto;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: -13px;
    gap: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.navigation__logo {
  width: 215px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}



.navigation__link {
  color: $color-alice-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1023 {
    padding: 10px;
  }

  @include hover-focus {
    opacity: 0.8;
    color: $color-deep-sky-blue;
    outline: none;
  }
}

.navigation__link-icon {
  margin-right: 15px;

  @include vp-1023 {
    margin: 0;
  }
}

.navigation__button {
  color: $color-alice-blue;
  border-color: $color-alice-blue;
  padding: 10px 17px 13px 16px;
  margin-top: -4px;
  margin-right: 60px;
  max-width: 270px;

  &:focus-visible {
    border-color: $color-deep-sky-blue;
    outline: none;
  }

  @include vp-1023 {
    display: none;
  }
}

.navigation__link-text {
  margin-top: -5px;

  @include vp-1023 {
    display: none;
  }
}
