.promo {
  width: 100%;
  --bgi: url("../img/intro-image.jpg");
  background-color: $color-black-pearl;
  background-image: $gradient-intro, var(--bgi);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-1024) {
    @include retina {
      --bgi: url("../img/intro-image@2x.jpg");
    }
  }


  @include vp-1023 {
    background-position: 16% 39px;
    --bgi: url("../img/intro-image-tablet.jpg");

    @include retina {
      --bgi: url("../img/intro-image-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-position: center;
    --bgi: url("../img/intro-image-mobile.jpg");

    @include retina {
      --bgi: url("../img/intro-image-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  padding: 305px 0 280px 165px;

  @include vp-1023 {
    margin-top: -100px;
    padding: 180px 50px 205px 50px;
  }

  @include vp-767 {
    margin-top: -69px;
    padding: 150px 25px 189px 25px;
  }
}

.promo h1 {
  font-family: $ff-roboto-condensed;
  color: $color-alice-blue;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 1px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.promo p {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 47px;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-bottom: 56px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 44px;
  }
}

.promo br {
  @include vp-767 {
    display: none;
  }
}

.promo__button {
  font-size: 18px;
  line-height: 21px;
  background-color: $color-deep-sky-blue;
  padding-top: 15px;
  padding-bottom: 17px;

  &:active {
    border-color: $color-deep-sky-blue;
  }

  &:focus {
    border-color: $color-deep-sky-blue;
    background-color: transparent;
    outline: none;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    font-size: 14px;
    padding: 8px 36px 9px;
    margin-left: 0;
  }
}

.promo__button-main {
  @include vp-767 {
    display: none;
  }
}

.promo__button-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
