.question {
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
  position: relative;
  z-index: 0;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/svg/triangle.svg");
    background-repeat: no-repeat;
    z-index: -1;
    left: -5px;
    top: -74px;
    width: 978px;
    height: 920px;

    @include vp-1023 {
      display: none;
    }
  }
}

.question__wrapper {
  padding-top: 166px;
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    margin-left: 5px;
    padding-top: 46px;
    padding-bottom: 125px;
    flex-direction: column;
  }

  @include vp-767 {
    margin-left: 0;
    padding-top: 46px;
    padding-bottom: 88px;
  }
}

.question__wrapper img {
  margin-top: 21px;

  @include vp-1023 {
    display: none;
  }
}

.question .question__form {
  max-width: 580px;
  width: 100%;
  margin-right: 10px;

  @include vp-1023 {
    min-width: 670px;
  }

  @include vp-767 {
    margin-right: 0;
    min-width: 270px;
  }
}

.question__form h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-left: -5px;
  margin-bottom: 13px;

  @include vp-1023 {
    margin-left: 0;
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.question__form p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 19px;
  }
}

.question fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.question__form-wrapper {
  margin-bottom: 28px;

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.question input,
.question textarea {
  width: 100%;
  color: $color-default-black;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 13px 15px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: $color-background-input;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover {
    opacity: 0.8;
    border-color: $color-black-pearl;
  }

  &:active {
    background-color: $color-deep-sky-blue;
    border: 1px solid $color-black-pearl;
  }

  &:focus-visible {
    background-color: $color-deep-sky-blue;
    outline: 1px solid $color-black-pearl;
  }
}

.question textarea {
  min-height: 155px;
  padding: 22px 15px;

  @include vp-1023 {
    padding-top: 29px;
  }

  @include vp-767 {
    min-height: 180px;
    padding-top: 22px;
  }
}

.question__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px ;
  margin-bottom: 20px;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.question__button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

  @include vp-1023 {
    column-gap: 85px;
    margin-right: 55px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-right: 0;
  }
}

.question__button {
  background-color: $color-black-pearl;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
  padding-bottom: 10px;

  @include vp-1023 {
    padding-top: 15px;
    padding-bottom: 9px;
  }

  @include vp-767 {
    padding-bottom: 10px;
  }


  @include hover-focus {
    border-color: $color-black-pearl;
    background-color: transparent;
    outline: none;
  }

  &:active {
    color: $color-black-pearl;
  }
}

.question__checkbox-wrapper {
  display: flex;
  order: 1;
}


.question__checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 13px;
  cursor: pointer;

  @include vp-1023 {
    margin-top: 9px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-left: 5px;
  }
}

.question__control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid $color-default-white;
  margin-right: 10px;
}

.question__control-name {
  max-width: 200px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.question__checkbox input[type="checkbox"]:checked + .question__control-mark::before {
  display: block;
  content: "";
  width: 9px;
  height: 6px;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
}


.question__checkbox input[type="checkbox"]:hover + .question__control-mark,
.question__checkbox input[type="checkbox"]:focus + .question__control-mark {
  border-color: $color-black-pearl;
}
